html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.board-container {
    display: flex;
    flex-direction: column;
    width: 1240px;
    margin: auto;
}

.head{
    display: flex;
    margin-bottom: 10px;
}

.main-menu{
    display: flex;
}

.board-name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 34px;
    min-width: 50px;
    margin-right: 10px;
    background-color: #007cbb;
    text-align: center;
    color: white;
    border-radius: 3px;
}

#edit{
    display: none;
}

.form-edit{
    display: flex;
}

.edit-input{
    width: 231px;
    margin-right: 10px;
    padding-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #e2e4e6;
    font-size: 18px;
}

input:focus, input:hover {
    outline:none;
}